body{
    background-image: url("C:\Users\SWAMY\OneDrive\Desktop\assignmenmt_work\images22.jpeg");
    background-repeat: no-repeat ;
    background-size: cover;
    background-position-x: bottom ;
    
}
pre{
    background-color: rgb(92, 94, 95);
}
#hello{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    
    
}
p{
    font-weight: bolder;   
    text-transform: capitalize;
    font-size: xx-large;
}
button{
    background-color: rgb(110, 114, 113);
    color: rgb(255, 255, 255);
    
    
}
button:hover{
    color: chartreuse;
}


 a{
    color: rgb(158, 7, 7);
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
}
a:hover{
    color: darkgreen;
}
.A{
    background-color: black;
    color: aliceblue;
    padding: 15px 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
}
.A:hover{
    color: red;
}



